.tutor-zoom-form-container {
    display: flex;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
}
.tutor-zoom-form-container div {
    flex-basis: 50%;
}
.tutor-zoom-form-container .input-area {
    padding: 25px 0 25px 50px;
}
.tutor-zoom-form-container .input-area h3 {
    font-size: 30px;
    font-weight: 400;
}
.tutor-zoom-form-container .input-area p {
    font-size: 13px;
    max-width: 466px;
    margin-bottom: 45px;
}
.tutor-zoom-form-container .graphics-area img {
    width: 100%;
}
.tutor-form-group {
    margin: 0 auto 20px auto;
}
.tutor-form-group label {
    font-size: 16px;
}
.tutor-form-group input[type=text] {
    display: block;
    width: 80%;
    height: 45px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-top: 10px;
}
.tutor-form-group input[type=text]:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.tutor-zoom-button-container button {
    padding: 5px 20px !important;
}
.tutor-zoom-settings-container h3 {
    font-size: 30px;
    font-weight: 400;
}
.tutor-zoom-settings-option-container .settings-option-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0;
    border-bottom: 1px solid #C5C5C5;
}
.tutor-zoom-settings-option-container .settings-option-item:last-child {
    border: none;
}
.settings-option-item .option-label {
    flex: 1 1 20%;
    font-size: 15px;
    font-weight: 500;
}
.settings-option-item .option-desc {
    flex: 1 1 60%;
    font-size: 13px;
}
.settings-option-item .btn-switch {
    margin-right: 15px;
}
.settings-option-item .select-label {
    margin-right: 50px;
}
.settings-option-item .select-label, .settings-option-item .select-control {
    font-size: 15px;
}