/* Reset CSS */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a:active,
a:focus {
	box-shadow: none;
	outline: none;
}

/* Main Style */
.certificate-templates-fields {
	display: flex;
	flex-wrap: wrap;
}
.certificate-template {
	max-width: 150px;
	padding: 5px;
	margin: 3px;
}
.certificate-template.selected-template,
.certificate-template:hover {
	background: #3057d6;
}
.certificate-template img {
	max-width: 100%;
	height: auto;
	display: block;
}
.tutor-install-notice {
	padding: 20px;
}
.tutor-install-notice-inner {
	display: flex;
	align-items: center;
}
.tutor-install-notice-inner .button {
	padding: 5px 30px;
	height: auto;
	line-height: 20px;
	text-transform: capitalize;
}
.tutor-install-notice-content {
	flex-grow: 1;
	padding-left: 20px;
	padding-right: 20px;
}
.tutor-install-notice-icon img {
	width: 64px;
	border-radius: 4px;
	display: block;
}
.tutor-install-notice-content h2 {
	margin-top: 0;
	margin-bottom: 5px;
}

.tutor-install-notice-content p {
	margin-top: 0;
	margin-bottom: 0px;
	padding: 0;
}
/**
GradeBook Addon css
 */
.gradebook-list-table td,
.gradebook-list-table th {
	padding: 10px;
}
.gradename-bg {
	text-align: center;
	color: #ffffff;
	height: 32px;
	min-width: 16px;
	font-size: 16px;
	line-height: 32px;
	padding: 0 8px;
	display: inline-block;
	border-radius: 20px;
}
.gradename-outline {
	text-align: center;
	height: 32px;
	min-width: 16px;
	font-size: 16px;
	line-height: 32px;
	padding: 0 8px;
	display: inline-block;
	border-radius: 20px;
	border: 2px solid;
}
.tutor-gradebook-nav-wrapper {
	margin: 10px 0;
}

table.gradebooks-lists {
	border-spacing: 0;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #dcdfe5;
}
table.gradebooks-lists caption {
	padding: 1em 0;
	font-weight: 600;
}
table.gradebooks-lists td,
table.gradebooks-lists th {
	padding: 1em 1.41575em;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #dcdfe5;
}
table.gradebooks-lists td p:last-child,
table.gradebooks-lists th p:last-child {
	margin-bottom: 0;
}
table.gradebooks-lists th {
	font-weight: 600;
}
table.gradebooks-lists thead th {
	padding: 1.41575em;
	vertical-align: middle;
}
table.gradebooks-lists tbody h2 {
	font-size: 1em;
	letter-spacing: normal;
	font-weight: normal;
}
table.gradebooks-lists tbody h2 a {
	font-weight: normal;
}
table.gradebooks-lists th {
	background-color: #fafbfc;
}
table.gradebooks-lists tbody td {
	background-color: #ffffff;
}
table.gradebooks-lists tbody tr:nth-child(2n) td {
	background-color: #fafbfc;
}
table.gradebooks-lists a {
	text-decoration: none;
}
.gradebook-date {
	color: #4b5981;
}
.gradebooks-user-col img {
	width: 34px;
	height: 34px;
	border-radius: 50%;
}
table.gradebooks-lists p {
	margin: 0;
}
.gradebooks-user-col .user-info-col {
	margin-left: 10px;
}
.course-completion-status {
	color: #4b5981;
}
.course-completion-status.course-inprogress i {
	color: #f5a623;
}
.course-completion-status.course-completed i {
	color: #35bc31;
}

.gradebook-overview-footer,
.gradebook-overview-header {
	margin: 20px 0;
}
.gradebook-overview-pagination-col .tutor-pagination {
	margin: 0;
}
.gradebook-overview-footer .tutor-flex-row,
.gradebook-overview-header .tutor-flex-row {
	align-items: center;
	justify-content: space-between;
}
#gradebook-search-term {
	padding: 15px 20px;
	border: 1px solid #dcdfe5;
	box-shadow: none;
	padding-right: 40px;
	width: 300px;
}
button#gradebook-search-btn {
	border: navajowhite;
	background: none;
	margin-left: -33px;
}
.gradebook-search-form-group {
	display: flex;
}
.gradebook-actions-wrap a {
	display: inline-block;
	color: #a7a8aa;
	font-size: 20px;
	margin-right: 15px;
}
.gradebook-actions-wrap a.gradebook-edit-btn:hover {
	color: #3057d5;
}
.gradebook-actions-wrap a.gradebook-delete-btn:hover {
	color: #d71830;
}
/**
*END GradeBook
 */

/**
* Tutor Report ------> START
*/

/* Single Course - start */
.tutor-report-content {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.71;
	color: #737787;
}
.tutor-report-content .tutor-report-left-menus {
	margin-bottom: 40px;
}
.tutor-report-content-menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-bottom: 35px;
}

.tutor-report-content-menu > div:nth-child(1) {
	margin-right: 40px;
	position: relative;
}

.tutor-report-content-menu > div:nth-child(1) {
	flex: 2;
}

.tutor-report-content-menu > div:nth-child(2),
.tutor-report-content-menu > div:nth-child(3),
.tutor-report-content-menu > div:nth-child(4) {
	flex: 1.5;
}
.tutor-report-content-menu > div:not(:last-child) {
	margin-right: 40px;
}
.tutor-report-content-menu .tutor-report-search-btn {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0;
	right: 0;
	border: 0;
	background: transparent;
	color: #3e64de;
	font-size: 20px;
	cursor: pointer;
}
.tutor-report-content-menu > div:nth-child(1) input {
	height: 50px;
	padding-right: 45px;
}

.tutor-report-content-menu input[type="text"],
.tutor-report-content-menu select {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: solid 1px #dcdce1;
	background-color: #ffffff;
	padding: 0 14px;
}
.tutor-report-content-menu .date-range-input i.tutor-icon-calendar {
	position: absolute;
	width: 42px;
	height: 40px;
	right: 0;
	top: 0;
	color: #3e64de;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
}
.tutor-report-content-menu .menu-label {
	font-size: 14px;
	font-weight: 400;
	color: #737787;
	margin-bottom: 7px;
}
.tutor-report-content-menu > div:nth-child(4) input::-webkit-input-placeholder {
	color: #3f435b;
	font-size: 15px;
}

.tutor-report-content-menu > div:nth-child(1) input::-webkit-input-placeholder {
	font-size: 16px;
	font-weight: 400;
	color: #737787;
}
.tutor-report-content-menu input[type="text"]:hover,
.tutor-report-content-menu input[type="text"]:focus,
.tutor-report-content-menu select:hover,
.tutor-report-content-menu select:focus {
	border-color: var(--tutor-primary-color) !important;
	box-shadow: none !important;
}

.tutor-report-content-single-course {
	border-radius: 3px;
	background-color: #ffffff;
	padding: 35px 0px;
}

.tutor-report-content-header {
	font-size: 20px;
	line-height: 1.5;
	color: #3f435b;
	margin-bottom: 30px;
}

.tutor-report-content-header,
.tutor-report-content-footer {
	padding: 0 30px;
}

.tutor-report-content-single-course tr th {
	background-color: #f7f7f9;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.75;
	letter-spacing: 0.7px;
	color: #737787;
	text-transform: uppercase;
}

.tutor-report-content-single-course td:not(:first-child) {
	font-size: 16px;
	font-weight: 400;
}

.tutor-report-content-single-course td {
	border-bottom: 1px solid #eaeaea;
	padding: 23px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.71;
	color: #3f435b;
}

.tutor-report-content-single-course td:last-child {
	padding-right: 12px;
	padding-left: 12px;
}

.tutor-report-content-single-course tr th:first-child,
.tutor-report-content-single-course tr td:first-child {
	width: 45%;
	padding-left: 30px;
}

.tutor-report-content-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
}

.tutor-report-content-footer > div {
	margin: 0;
}

.tutor-report-content-single-course td a:first-child {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.75;
	text-align: center;
	color: #737787;
	border-radius: 3px;
	border: solid 1px #dcdce1;
	padding: 7.5px 11.5px;
	margin-right: 15px;
}

.tutor-report-content-single-course td a:hover,
.tutor-report-content-single-course td a:focus {
	color: #3e64de;
	border-color: #3e64de;
}

.tutor-report-content-single-course td a {
	font-size: 14px;
	color: #b9bac3;
	transition: 0.2s;
}

.tutor-report-content .tutor-report-count {
	font-size: 14px;
	line-height: 1.71;
	color: #737787;
}

.tutor-report-content .tutor-report-count strong {
	color: #3f435b;
}

.tutor-report-content-footer .page-numbers {
	border-radius: 4px;
	border: solid 1px #dcdce1;
	padding: 11px 14px;
	font-size: 14px;
	font-weight: 400;
	color: #737787;
	background: #fff;
	outline: none;
	transition: 0.2s;
}

.tutor-report-content-footer .page-numbers.current {
	border-color: #3e64de;
	background: transparent;
}
.tutor-report-content-footer .page-numbers:hover,
.tutor-report-content-footer .page-numbers:focus {
	border-color: #3e64de;
	background: #3e64de !important;
	color: #fff;
	box-shadow: none;
}

@media (max-width: 767px) {
	.tutor-report-content-menu {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 15px;
	}
	.tutor-report-content-menu > div {
		margin-right: 0 !important;
	}
}
/* Single Course - end */

/* Student Data - start*/
.report-student-profile-wrap {
	border-radius: 3px;
	background-color: #ffffff;
	margin-bottom: 40px;
}

.report-student-profile .profile {
	display: grid;
	grid-template-columns: 90px 1fr 120px;
	align-items: center;
	grid-gap: 20px;
	padding: 26px 24px;
	border-bottom: 2px solid #dcdce1;
}

.report-student-profile .profile-table div {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.75;
	color: #3f435b;
	margin: 0 0 10px 0;
}

.report-student-profile .profile-table div span {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.29;
	color: #888b90;
}

.report-student-profile .profile-table div a {
	font-size: 12px;
	color: #b9bac3;
	margin-left: 5px;
}

.report-student-profile .profile > div:last-child {
	align-self: flex-end;
}

.report-student-profile .profile-table table {
	width: 100%;
	text-align: left;
}

.report-student-profile .profile-table tr th {
	padding: 20px;
}

.report-student-profile .profile .thumb img {
	border-radius: 50%;
	width: 90px;
	height: 90px;
}

.report-student-profile .profile .meta {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: flex-start;
	grid-gap: 20px;
}

.report-student-profile .profile .name {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.42;
	color: #3f435b;
	margin-bottom: 10px;
}

.report-student-profile .profile .meta > div {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: normal;
	color: #737787;
}

.report-student-profile .profile .meta > div > span {
	color: #34374b;
}

.report-student-profile .show-profile-btn {
	border-radius: 3px;
	background-color: #3e64de;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	color: #ffffff;
	padding: 6px 20px;
	display: inline-block;
	text-decoration: none;
	margin-bottom: 5px;
}

.report-student-profile .profile-table {
	background-color: #f7f7f9;
	border-radius: 0 0 3px 3px;
}

.report-date-filter .date-range-input {
	max-width: 288px;
}

.report-date-filter .menu-label {
	font-size: 14px;
	font-weight: 400;
	color: #737787;
	margin-bottom: 7px;
}

.report-date-filter .date-range-input input:hover,
.report-date-filter .date-range-input input:focus {
	border-color: var(--tutor-primary-color) !important;
	box-shadow: none !important;
}
.report-date-filter .date-range-input input {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: solid 1px #dcdce1;
	background-color: #ffffff;
	padding: 0 14px;
}

.report-date-filter .date-range-input i {
	position: absolute;
	width: 42px;
	height: 40px;
	right: 0;
	top: 0;
	color: #3e64de;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
}

/* Common list styles */
.tutor-list-wrap {
	border-radius: 3px;
	background-color: #ffffff;
	margin-top: 40px;
}

.tutor-list-wrap .tutor-list-header {
	padding: 30px;
}

.tutor-list-wrap .heading {
	font-size: 20px;
	line-height: 1.5;
	color: #3f435b;
}

.tutor-list-wrap .tutor-list-table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.tutor-list-wrap .tutor-list-table thead {
	background-color: #f7f7f9;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

.tutor-list-wrap .tutor-list-table th {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.75;
	letter-spacing: 0.7px;
	color: #737787;
	text-transform: uppercase;
}

.tutor-list-wrap .tutor-list-table td {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.75;
	color: #3f435b;
}

.tutor-list-wrap .tutor-list-table tr th,
.tutor-list-wrap .tutor-list-table tr td {
	padding: 15px 20px;
}

.tutor-list-wrap .tutor-list-header,
.tutor-list-wrap .tutor-list-table th:last-child,
.tutor-list-wrap .tutor-list-table td:last-child {
	padding-right: 36px;
}

.tutor-list-wrap .tutor-list-header,
.tutor-list-wrap .tutor-list-table th:first-child,
.tutor-list-wrap .tutor-list-table td:first-child {
	padding-left: 30px;
}

.tutor-list-wrap .tutor-list-table tbody td {
	padding: 25px 20px;
	vertical-align: top;
}

.tutor-list-wrap .tutor-list-table tbody tr:not(:last-child) {
	border-bottom: 1px solid #dcdce1;
}

.report-course-list-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.report-course-list-wrap .tutor-list-table td {
	font-size: 16px;
}

.report-course-list-wrap .tutor-list-table td:nth-child(2) {
	font-size: 14px;
	font-weight: 400;
}

.report-course-list-wrap .tutor-list-table td:last-child {
	text-align: right;
}

.report-course-list-wrap .tutor-list-table th:nth-child(2),
.report-course-list-wrap .tutor-list-table td:nth-child(2) {
	width: 40%;
}

.report-course-list-wrap .tutor-list-table .total {
	color: #9698a5;
}
.report-course-list-wrap .tutor-list-table [class$="-link"] {
	color: #b9bac3;
}

.report-course-list-wrap .tutor-list-table a:hover {
	color: #3057d5;
}

.report-course-list-wrap .tutor-list-table .course-link {
	font-size: 12px;
	margin-left: 5px;
}

.report-course-list-wrap .tutor-list-table input[type="range"] {
	width: 90px;
	height: 4px;
	border-radius: 2px;
	background-color: #dcdce1;
}
.report-course-list-wrap .tutor-list-table .details-link {
	font-size: 21px;
}
.tutor-report-content a {
	transition: 0.2s ease;
}
.tutor-report-content a:hover,
.tutor-report-content a:focus {
	color: #3057d5 !important;
}
@media (max-width: 991px) {
	.report-course-list-wrap .tutor-list-table th:nth-child(n + 7),
	.report-course-list-wrap .tutor-list-table td:nth-child(n + 7) {
		display: none;
	}
}

.report-course-list-header .status span,
.report-course-list-wrap .detail .status span {
	font-size: 14px;
	font-weight: 300;
	line-height: 1;
	color: #737787;
	margin-left: 25px;
	padding-left: 14px;
	position: relative;
	display: inline-flex;
	align-items: center;
}
.report-course-list-header .status span::before,
.report-course-list-wrap .detail .status span::before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	background: #b9bac3;
	border-radius: 50%;
	left: 0;
}

.report-course-list-wrap .detail .status span {
	margin-left: 0;
	padding-left: 16px;
}
.report-course-list-wrap .detail .status span::before {
	width: 6px;
	height: 6px;
}

.report-course-list-header .status .running::before,
.report-course-list-wrap .detail .status .running::before {
	background-color: #3e64de;
}

.report-course-list-header .complete::before,
.report-course-list-wrap .detail .status .complete::before {
	background-color: #7bbc30;
}

.report-course-list-wrap .detail .heading {
	font-size: 16px;
	line-height: 1.75;
	color: #3f435b;
	margin-bottom: 10px;
}

.report-course-list-wrap .detail {
	width: unset !important;
	padding: unset !important;
	text-align: left !important;
	font-size: 14px !important;
	font-weight: 400 !important;
}
.report-course-list-wrap .tutor-list-table td > table {
	width: 100%;
}
/* Student Data - end */
/**
* Tutor Report ------> END
*/
